
div  {

    
}

.nice{

    border: 40px;
    background-color:rgb(47, 157, 47);
    
   
}

.cool{

    border: 40px;
    background-color:rgb(47, 124, 157);
   
}

.p{

    border: 40px;
    background-color:rgb(230, 52, 52);
   
}

.l{

    border: 40px;
    background-color:rgb(135, 141, 134);
   
}

.k{

    border: 40px;
    background-color:rgb(24, 70, 170);
   
}

.m{

    border: 40px;
    background-color:rgb(195, 151, 69);
   
}


.n{

    border: 40px;
    background-color:rgb(49, 241, 255);
   
}


.O{

    border: 40px;
    background-color:rgb(73, 220, 162);
   
}